<div class="home-container">
    <app-card cardImg="assets/gw4.png"
              gameLabel="Exclusivo"
              gameType="Digital | Xbox One"
              gamePreco="R$ 89,99"></app-card>


    <app-card cardImg="assets/gta-v.jpg"
              gameLabel="Digital"
              gameType="Jogo Completo | Xbox One"
              gamePreco="R$ 49,99"></app-card>

    <app-card cardImg="assets/witcher3.png"
              gameLabel="Físico"
              gameType="Inclui DLC's | Xbox One"
              gamePreco="R$ 69,99"></app-card>

    <app-card cardImg="assets/gta6.png"
              gameLabel="Lançamento"
              gameType="Jogo Completo | Xbox Series S/X "
              gamePreco="R$ 699,99"></app-card>          

    <app-card cardImg="assets/ac-cover.jpg"
              gameLabel="Promoção"
              gameType="Jogo Completo | Xbox One"
              gamePreco="R$ 29,99"></app-card> 

    <app-card cardImg="assets/bt-bad-company-2.jpg"
              gameLabel="Promoção"
              gameType="Xbox One"
              gamePreco="R$ 30,00"></app-card> 

    <app-card cardImg="assets/fh5.jpg"
              gameLabel="Exclusivo"
              gameType="Digital | Xbox One"
              gamePreco="R$ 145,99"></app-card> 

    <app-card cardImg="assets/starfield.jpg"
              gameLabel="Digital"
              gameType="Jogo Completo | Xbox Series S/X"
              gamePreco="R$ 359,99"></app-card>

</div>