<div class="menu-bar-container">

    <div class="menu-bar-logo">
        <img src="assets/logo-xbox.png" width="155px" height="40px" alt="logo ps store">
    </div>

    <div class="menu-bar-item">
        <ul>
            <li><a href="https://github.com/JoseSaraceni" target="_blank">GITHUB</a></li>
            <li><a href="https://www.linkedin.com/in/jos%C3%A9-saraceni-vitor-66170122b/"target="_blank">LINKEDIN</a></li>
            <li><a href="https://www.dio.me/users/jose_vitor08"target="_blank">DIO</a></li>
        </ul>
    </div>

</div>